<!-- 
  Simple page to demonstrate the compiled header and footer.
  Can generate an HTML page using anything that cam compile Nunjucks templates 
  into HTML. For example, using Eleventy v1.0:
  
  ```
  eleventy --input=index.njk --output=. 
  ```
 -->
{% include 'head.html' %}
{% set headerHTML -%}{% include 'header.html' %}{%- endset %}
{% set footerHTML -%}{% include 'footer.html' %}{%- endset %}
{% set headTag -%}{% include 'head.html' %}{%- endset %}
<html lang="en">
  <body>
    <div class="body-wrapper" id="body-wrapper"></div>
    {% include "scripts.html" %}
    <script type="text/javascript">
      const host = document.getElementById('body-wrapper');
      host.attachShadow({mode: 'open'});
      host.shadowRoot.innerHTML = `<div>{{ headTag | safe }}{{ headerHTML | safe }}<hr>{{ footerHTML | safe }}</div>`;    
      window.setupDotcomChrome(host.shadowRoot.firstChild);
      console.log("setup done");
    </script>
  </body>
</html>
