<footer class="mbta-m-footer mbta-l-footer">
    <div class="mbta-container">
        <ul class="mbta-row mbta-list-unstyled">
            <li class="mbta-m-footer__group">
                <div class="mbta-m-footer__group-title">Transit Services</div>
                <ul class="mbta-list-unstyled">
                    <li class="mbta-m-footer__item"><a data-scroll="true" href="/schedules/subway">Subway</a></li>
                    <li class="mbta-m-footer__item"><a data-scroll="true" href="/schedules/bus">Bus</a></li>
                    <li class="mbta-m-footer__item"><a data-scroll="true" href="/schedules/commuter-rail">Commuter Rail</a></li>
                    <li class="mbta-m-footer__item"><a data-scroll="true" href="/schedules/ferry">Ferry</a></li>
                    <li class="mbta-m-footer__item"><a data-scroll="true" href="/accessibility/the-ride">The RIDE</a></li>
                </ul>
            </li>
            <li class="mbta-m-footer__group">
                <div class="mbta-m-footer__group-title">Plan Your Journey</div>
                <ul class="mbta-list-unstyled">
                    <li class="mbta-m-footer__item"><a href="/trip-planner">Trip Planner</a></li>
                    <li class="mbta-m-footer__item"><a href="/stops">Station Info</a></li>
                    <li class="mbta-m-footer__item"><a href="/alerts">Service Alerts</a></li>
                    <li class="mbta-m-footer__item"><a href="/maps">Maps</a></li>
                    <li class="mbta-m-footer__item"><a href="/destinations">Destinations</a></li>
                </ul>
            </li>
            <li class="mbta-m-footer__group">
                <div class="mbta-m-footer__group-title">Riding the T</div>
                <ul class="mbta-list-unstyled">
                    <li class="mbta-m-footer__item"><a href="/accessibility">Accessibility</a></li>
                    <li class="mbta-m-footer__item"><a href="/parking">Parking</a></li>
                    <li class="mbta-m-footer__item"><a href="/bikes">Bikes</a></li>
                    <li class="mbta-m-footer__item"><a href="/language-services">Language Services</a></li>
                    <li class="mbta-m-footer__item"><a href="/safety">Safety</a></li>
                </ul>
            </li>
            <li class="mbta-m-footer__group">
                <div class="mbta-m-footer__group-title">Fares & Passes</div>
                <ul class="mbta-list-unstyled">
                    <li class="mbta-m-footer__item"><a href="/fares">Fare Information by Mode</a></li>
                    <li class="mbta-m-footer__item"><a href="/fares/reduced">Reduced Fares</a></li>
                    <li class="mbta-m-footer__item"><a href="https://passprogram.mbta.com/" target="_blank">Pass Programs</a></li>
                    <li class="mbta-m-footer__item"><a href="https://charliecard.mbta.com" target="_blank">Add Value to CharlieCard</a></li>
                    <li class="mbta-m-footer__item"><a href="https://commerce.mbta.com" target="_blank">Order Monthly Passes</a></li>
                </ul>
            </li>
            <li class="mbta-m-footer__group">
                <div class="mbta-m-footer__group-title">About Us</div>
                <ul class="mbta-list-unstyled">
                    <li class="mbta-m-footer__item"><a data-scroll="true" href="/leadership">Leadership</a></li>
                    <li class="mbta-m-footer__item"><a data-scroll="true" href="/leadership/fmcb">FMCB</a></li>
                    <li class="mbta-m-footer__item"><a data-scroll="true" href="/news">News & Updates</a></li>
                    <li class="mbta-m-footer__item"><a data-scroll="true" href="/events">Events</a></li>
                    <li class="mbta-m-footer__item"><a href="http://www.mbtabackontrack.com/performance/index.html#/home" target="_blank">Performance</a></li>
                </ul>
            </li>
            <li class="mbta-m-footer__group">
                <div class="mbta-m-footer__group-title">Business Center</div>
                <ul class="mbta-list-unstyled">
                    <li class="mbta-m-footer__item"><a href="/business">Business Opportunities</a></li>
                    <li class="mbta-m-footer__item"><a data-scroll="true" href="/careers">Careers</a></li>
                    <li class="mbta-m-footer__item"><a data-scroll="true" href="/developers">Developers</a></li>
                    <li class="mbta-m-footer__item"><a data-scroll="true" href="/financials">Financials</a></li>
                    <li class="mbta-m-footer__item"><a href="/innovation">Innovation</a></li>
                </ul>
            </li>
            <li class="mbta-m-footer__group mbta-m-footer--mobile__group">
                <div class="mbta-m-footer__group-title">Customer Support</div>
                <ul class="mbta-list-unstyled">
                    <div class="mbta-m-footer--mobile__items">
                        <li class="mbta-m-footer__item mbta-m-footer--mobile__item"><a data-scroll="true" href="/customer-support">Contact Us</a></li>
                        <li class="mbta-m-footer__item mbta-m-footer--mobile__item"><a data-scroll="true" href="/policies">Policies</a></li>
                    </div>
                    <div class="mbta-hidden-sm-down">
                        <li class="mbta-m-footer__item"><a href="https://massachusettsdot.mycusthelp.com/WEBAPP/_rs/supporthome.aspx?lp=3&COID=64D93B66" target="_blank">Request Public Records</a></li>
                        <li class="mbta-m-footer__item"><a data-scroll="true" href="/policies/title-vi">Civil Rights</a></li>
                    </div>
                </ul>
            </li>
            <li class="mbta-m-footer__group">
                <div class="mbta-m-footer__group-title">Follow Us Online</div>
                <ul class="mbta-c-social">
                    <li class="mbta-c-social__item mbta-m-footer__item"><a class="mbta-c-social__link mbta-c-social--instagram" href="https://www.instagram.com/mbtapics/" target="_blank"><i class="mbta-fa mbta-fa-instagram" aria-hidden="true"></i><span class="mbta-sr-only">MBTA Instagram</span></a></li>
                    <li class="mbta-c-social__item mbta-m-footer__item"><a class="mbta-c-social__link mbta-c-social--twitter" href="https://twitter.com/MBTA" target="_blank"><i class="mbta-fa mbta-fa-twitter" aria-hidden="true"></i><span class="mbta-sr-only">MBTA Twitter</span></a></li>
                    <li class="mbta-c-social__item mbta-m-footer__item"><a class="mbta-c-social__link mbta-c-social--youtube" href="https://www.youtube.com/user/mbtagm/" target="_blank"><i class="mbta-fa mbta-fa-youtube" aria-hidden="true"></i><span class="mbta-sr-only">MBTA Youtube</span></a></li>
                </ul>
            </li>
        </ul>
        <p class="mbta-m-footer__copyright">© Massachusetts Bay Transportation Authority, all rights reserved.</p>
    </div>
</footer>